<mat-card>
  <mat-card-title>Lista de tareas</mat-card-title>

  <mat-card-content fxLayout="column" fxLayoutGap="30px">
    <form (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm" [formGroup]="listForm" fxLayout="row"
          fxLayoutGap=20px>
      <mat-form-field>
        <input [(ngModel)]="newTaks" matInput placeholder="Crear una nueva tarea" formControlName="listTask">
      </mat-form-field>

      <button mat-raised-button color="accent">{{editTask ? 'Editar' : 'Añadir'}}</button>
    </form>

    <div>
      <div *ngFor="let task of taskList" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <span>{{task.name}}</span>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <span (click)="deleteTaks(task.id)"><mat-icon>delete</mat-icon></span>
          <span (click)="updateTask(task)"><mat-icon>mode_edit</mat-icon></span>
        </div>
      </div>
    </div>

  </mat-card-content>

</mat-card>
